body {
    background-color: #fbfcfd;
    height: 100vh;
}

#root {
    margin: 0 auto;
    max-width: 500px;
}

.Clima {
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: #0366d6;
    text-decoration: none;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input[type="search"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #0366d6;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card header h3 {
    margin: 0;
    font-size: 1.5em;
}

.weather-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    background-color: #c7ebf7;
    padding: 15px 0;
}

.weather-content img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.card footer {
    text-align: left;
}

.card footer hr {
    margin: 10px 0;
}