/* styles.css */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #3498db;
    border-radius: 10px;
    background-color: #ecf0f1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-container {
    margin-bottom: 20px;
}

.form-container h2 {
    margin-bottom: 15px;
    font-size: 2rem;
    color: #3498db;
    text-align: center;
    text-transform: uppercase;
}

.input {
    width: calc(100% - 22px);
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 1.2rem;
}

.input:focus {
    outline: none;
    border-color: #2980b9;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

.btns {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
}

.btns:hover {
    background-color: #2980b9;
}

.btns2 {
    display: block;
    width: 100%;
    padding: 12px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #fff;
    color: #3498db;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
}

.btns2:hover {
    background-color: #f0f0f0;
}

#mensaje {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #2ecc71;
    text-align: center;
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.6);
}
