* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
  font-variation-settings: "slnt" 0 !important;
}

body {
  width: 100vw;
  height: 100vh;
  color: #000000;
  background-color: #ccc;
  overflow-x: hidden;
}

#root{
  width: 100%;
  height: 100%;
}
