* {
    margin: 0;
    padding: 0;
    font-family: Crimson Text;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    background: #1D1C1E; 
    display: grid;
    justify-content: center;
    align-content: center;
}

::-webkit-input-placeholder {
    color: #e6750c; 
}

.wrapper {
    position: relative;
    width: 800px;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #4e1388;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3.5em;
    color: #651cc4; 
}

.inp {
    padding-bottom: 10px;
    border-bottom: 2px solid #49d426; 
}

.input {
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 40px;
    padding-right: 10px;
    font-size: 1.25em;
    color: white;
}

.submit {
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 1.5em;
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    background: #56129b;
}

.footer {
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 1.25em;
    color: white;
}

.link {
    color: #e08c1c;
    text-decoration: none;
}

.banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: linear-gradient(to right, #6b0cd8, #a060e0); 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
    padding-right: 70px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.wel_text {
    font-size: 2.7em;
    margin-top: -50px;
    line-height: 50px;
    color: #e28409; 
}

.para {
    margin-top: 10px;
    font-size: 1.5em;
    line-height: 1.25em;
    letter-spacing: 1px;
}
