*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"slnt" 0;
}

body{
  width: 100vw;
  height: 100vh;
}
#root{
  width: 100%;
  height: 100%;
}