body{
    background-color:#FFE538;
    background-image: -webkit-linear-gradient(147deg,#FFE538 0%, #fd3838 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.contacts{
    width: 35rem;
    height: 60rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    color: black;
    border-radius: 1rem;
    padding:1rem;
    box-shadow: 0px 0px 10px rgb(20, 0, 0);
}
.div-Contactos{
  font-family:'Courier New', Courier, monospace;
  height: 90px;
  width: 50%;
  margin:35px 30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.div-b{
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    margin:50px 50px;
}