body {
    overflow-y: hidden;
    background: rgb(131,58,180);
    background: linear-gradient(25deg, rgba(131,58,180,1) 0%, rgba(185,58,203,1) 35%, rgba(253,29,29,1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

.app-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.contact {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex: 1 0 300px; 
    max-width: 300px; 
    transition: transform 0.3s ease;
}
.contact:hover {
    transform: scale(1.05);
}
