body {
  font-family: Arial, sans-serif;
  background-color: #e6d9c9;
  margin: 0;
  padding: 30px;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #6F4E37;
  border-radius: 8px;
  background-color: #EAD8C0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.hder {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #8C6A5D;
}

.btns {
  margin: 5px;
  padding: 10px 20px;
  border: 1px solid #6F4E37;
  border-radius: 5px;
  background-color: #6F4E37;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.btns2{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6F4E37;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

}

.btns:hover {
  background-color: #AF8F6F;
  border-color: #AF8F6F;
}

.input {
  display: block;
  width: calc(100% - 22px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #EAD8C0;
  border-radius: 5px;
  transition: border-color 0.3s;
  background-color: #EAD8C0;
  color: #4c3f31;
}
.btns2:hover {
  background-color: #AF8F6F;
  border-color: #AF8F6F;
}

.input:focus {
  outline: none;
  border-color: #6F4E37;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6F4E37;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button[type="submit"]:hover {
  background-color: #AF8F6F;
}

#mensaje{
  text-align: left;
  color: #543310;
  background-color: #EAD8C0;
  padding: 10px;
  border: 1px solid #EAD8C0;
  border-radius: 5px;
  margin-top: 1rem;
  text-align: center;
}
