html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: rgb(176, 176, 176); /* Color de fondo oscuro */
    color: #2b2b2b; /* Color de texto claro */
}

*, *:before, *:after {
    box-sizing: border-box;
}

#root {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color:bisque; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); 

}

h2 {
    color: #9c0e0e;
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: rgb(219, 119, 119);
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(221, 221, 221); 
    color: rgb(10, 10, 10); 
}

button {display: block;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(233, 157, 157);
    color: rgb(24, 24, 24);
    border: solid 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: rgb(140, 140, 140);
    transform: scale(1.01);
}