.contacto {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacto-item {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#60e7ff, #aaf5ff);
}

.contacto h1 {
  text-align: center;
  color: #333;
}

.contacto p {
  margin: 5px 0;
}

.color-p {
  color: rgb(0, 0, 0);
}