/* styles.css */

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}


#root {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
}

h1, h2 {
    text-align: center;
    color: #333;
}

button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.auth-form {
    margin: 20px 0;
}

.info {
    margin: 20px 0;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.info p {
    margin: 0;
    color: #555;
}
