body {
    background: linear-gradient(to bottom, #1a1a1a, #3a3a3a);
    color: #e0e0e0; 
    font-family: Arial, sans-serif; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 450px;
    padding: 20px;
    border-radius: 10px;
    background: #15171d;
    box-shadow: 0 4px 10px rgb(0, 240, 255);
}

h1 {
    position: relative;
    top: -45px;
    color: #00cccc; 
    font-size: 2.5rem;
    margin-bottom: 20px;
    cursor: pointer;
}
h1::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px; /* Espacio debajo del texto */
    left: 0;
    background-color: #00f0ff;
    transition: width 0.3s ease-in-out;
}
h1:hover::after{
    background: rgba(9, 218, 225, 0.293);
    border-radius: 40px;
    transition: 0.4s;
    width: 100%;
}

h2{
    position: relative;
    color: white;
    left: 60px;
}
#infouser{
    top: -25px;
    color: white;
    left: -5px;
}
form {
    width: 100%;
}

label {
    display: block;
    color: white;
    font-size: 1.1rem; 
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #00cccc; 
    background-color: #1a1a1a;
    color: #e0e0e0;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #888;
}

button {
    background-color: #00cccc;
    color: #1a1a1a;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #009999;
}

a {
    color: #00cccc; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logout-btn {
    position: relative;
    background-color: #f01f1f; 
    color: #1a1a1a;
    top: 246px;
    left: 110px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #ff4d4d; 
}

.botonesinicio button {
    margin: 5px;
}
#info{
    color: white;
    font-size: 1rem;
}
p {
    color: #00cccc;
    font-size: 1rem;
}
