body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#root {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 120px;
}
.producto-listado {
    list-style: none;
    padding: 0;
}

.productos {
    position: relative;
    padding: 16px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(65, 63, 63, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.productos .info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 10px;
}
.productos .info .name {
    font-size: 30px;
    font-weight: bold;
    margin-left: 0%;
}

.productos .info .code {
    color: black;
    font-size: 18px;
}
.productos .actions {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-left: 180px;
    margin-right: 0%;
    font-size: 25px;
}

.productos .actions i {
    cursor: pointer;
    color: #121213;
}

.productos .actions i:hover {
    color: #0056b3;
}
.productos .number {
    font-size: 80px;
    font-weight: bold;
    color: blue;
    margin-left: 40px;
  }
    
.agregar-prod{
    position: relative;
    padding: 16px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(65, 63, 63, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    gap: 10px;  
}
.agregar-prod input {
    padding:10px ;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 350px;
}
.agregar-prod button {
    font-size: 16px;
    padding: 6px;
    border-color: #121213;
    background-color: white;
    color: rgb(7, 7, 7);
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
}
.agregar-prod button:hover {
    background-color: #0056b3;
}
.edit-product-form{
    height: 140px;
    display: flex;  
}
#form-de-productos input {
    padding:10px ;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 350px;
}
.edit-btn button {
    font-size: 16px;
    padding: 6px;
    border-color: #121213;
    background-color: white;
    color: rgb(7, 7, 7);
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
    margin-top: 5px;
}
.edit-btn{
    margin-top: 3px;
   display: flex;
   flex-direction: column;
   margin-left: 20px;
}   
.edit-product-form button:hover {
    background-color: gray;
    color: white;
}