body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#root {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    
}

.header h1 {
    font-size: 32px;
    margin: 0;
}

.header .add-icon {
    font-size: 32px;
    cursor: pointer;
    color: black;
    margin-right: 150px;   
}

.listado-prod {
    list-style: none;
    padding: 0;
}

.productos {
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    height: 120px;
    width: 420px;
}

.productos .number {
    font-size: 50px;
    font-weight: bold;
    color: blue;
    margin-right: 10px;
    margin-left: 30px;
}

.productos .info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.productos .info .name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 15px;
}

.productos .info .code {
    margin-top: 15px;
    color: black;
    font-size: 18px;
    margin-left: 15px;
}

.productos .actions {
    display: flex;
    flex-direction: column;
    gap: 60px;
    
}

.productos .actions i {
    font-size: 25px;
    cursor: pointer;
    color: black;

}

.agregar-product {
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    height: 120px;
    width: 420px;
    
}

.agregar-prod input {
    padding:10px ;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 300px;
}
    

.agregar-product button {
    font-size: 14px;
    padding: 6px;
    border-color: #121213;
    background-color: white;
    color: rgb(7, 7, 7);
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
    width: 80px;
    margin-top: 8px;

}
.add-btn{
    margin-left: 20px;
}

.edit-product-form {
    display: flex;
    justify-content: space-between;
}

.edit-product-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 300px;
    margin-top: 5px;
    height: 15px;
}

.edit-product-form button {
    font-size: 14px;
    padding: 6px;
    border-color: #121213;
    background-color: white;
    color: rgb(7, 7, 7);
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
    width: 80px;
}

.Edit-btn {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Edit-btn button{
    margin-top: 6px;

}