body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuentes más minimalistas */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(228, 221, 193); /* Color de fondo de la página */
}

.container {
  width: 300px;
  padding: 20px;
  border: 1px solid beige;
  border-radius: 8px;
  background-color: beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hder {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
  color: royalblue;
}

.input {
  width: 94%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btns,
.btns2 {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: royalblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btns:hover,
.btns2:hover {
  background-color: royalblue;
}

#mensaje {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  color: #000000;
}
