body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    width: 100%;
    padding: 20px;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-size: 45px;
}

.add-btn {
    font-size: 35px;
    background-color: #f6f6f7;
    color: rgb(2, 1, 1);
    border: none;
    border-radius: 28%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #050404;
}

.items {
    margin-bottom: 16px;
    padding: 0 20px;
    position: relative;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.number {
    font-size: 45px;
    font-weight: bold;
    color: blue;
    margin-right: 16px;
    cursor: pointer;
}

.details {
    flex-grow: 1;
}

.details h2 {
    margin: 0;
    font-size: 30px;
}

.details p {
    margin: 4px 0 0;
    font-size: 18px;
    color: #666;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
}

.actions img {
    width: 35px;
}

.edit-form,
.product-form {
    display: flex;
    align-items: flex-start;
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width:(100% - 32px);
}

.edit-form input,
.product-form input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin-bottom: 5px;
    width: 80%;
}

.edit-form label,
.product-form label {
    margin-bottom: 5px;
}

.edit-form .form-actions,
.product-form .form-actions {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.edit-form .form-actions button,
.product-form .form-actions button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 9px;
    background-color: #f2f4f6;
    color: rgb(6, 4, 4);
    cursor: pointer;
    margin-bottom: 5px;
    border: 2px solid #050404;
    
}