/* Reset básico para eliminar márgenes y padding predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #151223;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor-formularios {
  /* background-color: #d7d7d7; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.1);
}

.h1-tp6 {
  font-size: 24px;
  color: #ebebeb;
  text-align: center;
  margin-bottom: 20px;
}

.contenedor-formularios-seccion-uno,
.contenedor-formularios-seccion-dos {
  margin-bottom: 20px;
}

.form-registro,
.form-login {
  margin-bottom: 20px;
}

.h2-form {
  font-size: 20px;
  color: #eaeaea;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: transform 0.3s, background-color 0.5s, color 0.3s;
}
.input:focus {
  transform: scale(1.1);
  background-color: rgb(107, 107, 107);
  color: rgb(255, 255, 255);
}
.input:focus::placeholder {
  color: rgb(255, 255, 255);
}

.button-registro,
.button-login {
  padding: 10px;
  background-color: #4caf50;
  color: rgb(6, 6, 6);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s;
}

.button-registro:hover,
.button-login:hover {
  background-color: rgb(58, 19, 95);
  color: rgb(255, 255, 255);
}
.button-registro:focus,
.button-login:focus {
  background-color: rgb(58, 19, 95);
  color: rgb(255, 255, 255);
}

.mensajes {
  margin-bottom: 10px;
}

.msj-error {
  color: red;
  margin-bottom: 10px;
}

.msj-exito {
  color: green;
  margin-bottom: 10px;
}

.info-usuario-logeado {
  margin-bottom: 10px;
}

.p-info-usuario-logeado {
  font-size: 16px;
  color: #f7f7f7;
}

.contenedor-botones-usuario-logeado {
  display: flex;
  justify-content: space-between;
}

.btn-ver-info,
.btn-cerrar-sesion {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-ver-info:hover,
.btn-cerrar-sesion:hover {
  background-color: #0069d9;
}
