body {
    background: linear-gradient(45deg, rgb(24, 24, 24), rgb(56, 56, 56));
    color: rgb(115, 117, 124);
    font-family: Arial, sans-serif;
    margin: 3%;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    display: grid;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
}

ul {
    display: grid;
    justify-content: center;
    background: rgb(31, 31, 31);
    border: 1px solid #eee;
}

li {
    align-items: center;
    background: black;
    padding: 10px;
}