html {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color: #191414;
    color: #FFFFFF;
}

*, *:before, *:after {
    box-sizing: border-box;
}

#root {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
}

h2 {
    color: #1DB954;
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #B3B3B3;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    font-size: 16px;
    background-color: #282828;
    color: #FFFFFF;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #1DB954;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #1ED760;
}

button:active {
    transform: scale(0.98);
}
