.agenda {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.contacto-card {
    padding: 30px;
    margin: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 5px  5px 5px rgba(0, 0, 0, 0.1);
   
}

.contacto-card h1 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.contacto-card p {
    font-size: 1.2em;
}
