body {
    background-color:#05161A;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    
    margin: 10px;
}

.contact-card {
    background-color: #0c7075;
    border: 1px solid #0f172a;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 400px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    
    
}

h1{
    color: #6da5c0;
    font-size: 50px;
}

p{
    color: white;
}

.contact-card {
    transition: transform 0.3s;
    border: 2px solid #ddd; 
    border-radius: 5px; 
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-card:hover, .contact-card:focus {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    
}



