body {
    font-family: Arial, sans-serif;
    background-color: #021a2f;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-formularios {
    max-width: 800px;
    width: 100%;
    padding: 70px;
    background-color: #e5ecec;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(41, 121, 224, 0.1);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho del contenedor */
}
.h1-tp6 {
    text-align: center;
    color: #080808; 
    margin-bottom: 20px;
}
.contenedor-formularios-seccion-uno {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.form-registro, .form-login {
    flex: 1;
    padding: 20px;
    background-color:rgba(4, 4, 81, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(61, 9, 92, 0.5);
}

.h2-form {
    color: #161616; 
    margin-bottom: 10px;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
}


.input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0e0e0f; 
    border-radius: 4px;
    font-size: 16px;
}

.button-registro, .button-login, .btn-ver-info, .btn-cerrar-sesion {
    background-color: #101011; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.button-registro:hover, .button-login:hover, .btn-ver-info:hover, .btn-cerrar-sesion:hover {
    background-color: #666666;
}

.contenedor-formularios-seccion-dos {
    margin-top: 20px;
    padding: 20px;
    
   
}

.mensajes {
    text-align: center;
    margin-bottom: 20px;
}

.msj-error {
    color: #c50d20; 
}

.msj-exito {
    color: #666769; 
}

.info-usuario-logeado {
    text-align: center;
    color: #666666; 
}

.contenedor-botones-usuario-logeado {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.btn-ver-info, .btn-cerrar-sesion {
    background-color: #414541; 
}

.btn-ver-info:hover, .btn-cerrar-sesion:hover {
    background-color: #6c7fcd; 
}


