body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 30px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-color: #000000;
  padding: 5px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 15px;
}

button:hover {
  color: #007bff;
  border-color: #007bff;
}

.panel {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin-bottom: 20px;
  position: relative;
  width: 300px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panelagregar {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin-bottom: 20px;
  position: relative;
  width: 300px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agregar {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: block;
  margin: 0 auto 20px auto;
}

.cantidadn {
  font-size: 3em;
  color: blue;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 50px;
  color: #007bff;
  font-weight: 600;
}

.panel p {
  margin: 10px 0;
}

.acciones {
  position: absolute;
  margin-left: 20px;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.accioneseditar {
  position: absolute;
  margin-left: 20px;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 2%;
}

.acciones img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin-top: 5px;
  margin-right: 120px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}

.ps {
  text-align: center;
  margin-top: 20px;
  font-weight: 550;
}
