

body {
background-color: rgb(184, 247, 247);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.agendacontactos{
    margin: 5px;
    -webkit-text-stroke: 5;
}
*:root{
    color: black;
    text-align: center;
    
}


