html {
    background-color: lightskyblue;
}

h1 {
    text-decoration: underline;
    margin-top: 5px;
}

.contenedor {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #007FFF;
    border-radius: 5px;
    text-align: center;
    background-color: #e1ebeeb0;
}

.form-registro, .form-login {
    background-color: #e1ebeeb0;
    border: 0.5px solid lightslategray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.form-registro h2, .form-login h2 {
    text-align: center;
    margin-top: 10px;
    color: #333;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e1ebeeb0;
    border: 0.5px solid lightslategray;
    border-radius: 3px;
    box-sizing: border-box;
}

.btn-registro, .btn-login {
    width: 100%;
    padding: 10px;
    background-color: #007bfffa;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.btn-registro:hover, .btn-login:hover {
    background-color: #0057b3f6;
}

.msjs {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.error {
    color: red;
    font-size: 18px;
}

.exito {
    color: #28a745;
    font-size: 18px;
}

.info-usuario {
    text-align: center;
    margin-bottom: 20px;
    color: #002244;
    font-size: 18px;
}

.btn-verinfo, .btn-logout {
    color: #fff;
    padding: 10px;
    font-size: 16px;
    background-color: #1560bd;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-verinfo:hover, .btn-logout:hover {
    background-color: #1561bdc9;
}