html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    background-color: #eee;
    box-sizing:content-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#root {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}

h1,h2,h3,h4,h5,h6 {
    color: #333;
    margin: 8px 0;
}

button {
    padding: 4px 6px;
    min-width: 100px;
    cursor: pointer;
    border: 0.5px solid #bbb;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #ddd;
}

form {
    width: 100%;
    button[type='submit'] {
        font-weight: bold;
    }
    label {
        display: block;
        margin: 8px 0;
        font-size: 14px;
        color: #666;
        width: 100%;
        input {
            display: block;
            width: calc(100% - 20px);
            padding: 5px 10px;
            margin-top: 5px;
            border: 0.5px solid #bbb;
            border-radius: 5px;
            box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
            font-size: 20px;
            font-weight: bold;
        }
    }
    h3 {
        margin: -5px 0 0 0;
        padding: 0;
    }
    span:has(> button) {
        padding-top: 10px;
    }
}

span:has(> button) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    gap: 10px;
}

div:has(> button) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
    gap: 10px;
}

section {
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 0.5px solid #bbb;
    border-radius: 15px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    li {
        padding: 5px 0;
    }
}