body {
    background-color: #ccc;
    min-height: 100vh;
}

html {
    min-height: 100vh;
    background-color: #ccc;
}

#root {
    margin: 0 auto;
    max-width: 500px;
}

nav {
    margin-bottom: -3%;
}

.titulo li h1 {
    color: #232538;
    width: 100%;
}

.ciudades li a {
    color: #337caa;
    margin-bottom: -5%;
}

input {
    color: #232538;
    background-color: #fff;
    border-style: none;
    border-radius: 30px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    color: #232538;
}

h2, h3 {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    color: #232538;
}

.temperatura p {
    padding-left: 20px;
    width: 100%;
    color: #232538;
    
}

hr {
    background-color: rgba(74, 74, 74, 0.316);
    border-style: none;
    height: 1px;
}

img {
    background-color: #2486c35f;
    border-radius: 30px;
    margin: 4%;
}

.minima {
    padding-bottom: 10px;
    margin-top: -4%;
}